# Configurações do servidor
PORT=8080
ENV=development

# Configurações do banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASS=admin123
DB_NAME=golearn_db

# Outras configurações
LOG_LEVEL=info
API_KEY=sua_chave_secreta_aqui 